<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Templates de Rappel d'Apurement</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            line-height: 1.6;
        }

        h2 {
            color: #2F4F4F;
            border-bottom: 2px solid #ccc;
            padding-bottom: 5px;
        }

        .template {
            margin-bottom: 60px;
        }
    </style>
</head>
<body>

    <div class="template">
        <p><strong>Objet :</strong> Notification – Justification requise pour une transaction hors CEMAC</p>
        <p>Madame, Monsieur <strong th:text="${nomClient}"></strong></p>
        <p>
            Nous vous informons qu’une transaction a été effectuée à l’extérieur de la zone CEMAC avec votre carte bancaire
                numéro <strong th:text="${numCarte}"></strong> en date du <strong th:text="${dateTransaction}"></strong>, matricule : <strong th:text="${matriculeClient}"></strong>
        </p>
        <p>
            Conformément à la <strong>circulaire n°<span th:text="${libCirculaire}"></span></strong>, vous êtes tenu(e) de
            fournir, <strong>dans un délai de <strong th:text="${nbreJr}"></strong> jour(s)</strong>, les pièces justificatives de ce déplacement :
        </p>
        <ul>
            <li>Billet ou titre de voyage</li>
            <li>Visa (si applicable)</li>
            <li>Tampon d’entrée/sortie CEMAC dans votre passeport</li>
            <li>Factures des opérations si plafond atteint</li>
        </ul>
        <p>
            Nous vous invitons à transmettre les documents via WhatsApp :
            <a th:href="${lienWhatsapp}" th:text="${lienWhatsapp}"></a> ou par email à :
            <a th:href="'mailto:' + ${lienMail}" th:text="${lienMail}"></a>.
        </p>
        <p>Cordialement,<br /><strong>POUR LA BANQUE</strong></p>
    </div>

</body>
</html>